header h1{
    background-image: url('./assets/pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

section h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes h2{
    background-color: mediumspringgreen;
}

#frames h2{
    background-color: lightcoral;
}

#paint h2{
    background-color: skyblue;
}

.blue{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}